---
layout: default
permalink: "/"
site:
    title: page.index.title
banner:
    type: full
    title: core.name
    subtitles: [
        page.index.subtitles.one,
        page.index.subtitles.two,
        page.index.subtitles.three
    ]
    image: "/assets/pages/index/banner.jpg"
    video: "/assets/pages/index/banner.mp4"
---

<!-- Seção de estilo de vida -->

{% capture section_lifestyle_title %}
    {% translate page.index.sections.lifestyle.title %}
{% endcapture %}

{% capture section_lifestyle_subtitle %}
    {% translate page.index.sections.lifestyle.subtitle %}
{% endcapture %}

{% include cards/startSectionCard.html title=section_lifestyle_title subtitle=section_lifestyle_subtitle %}
    {% include cards/thumbnailPageCard.html code="CV1sgefOykWhD2xNDn7pLQ" %}
{% include cards/endSectionCard.html %}