---
layout: default
permalink: "/desbravadores/biblia/"
permalink_us: "/pathfinders/bible/"
site:
    title: page.bible.title
banner:
    type: none
    title: page.bible.title
    subtitle: page.bible.subtitle
code: "goEk1yCu30CMLwTLJachuw"
card:
    thumbnail: "/assets/images/default.jpeg"
    title: page.bible.title
    subtitle: page.bible.subtitle
posters: bible
collection: bible
per_page: 30
---

{%- translate page.bible.resume -%}

<br>

---

<section class="section-card">
    <h2>{%- translate page.bible.sections.plan.title -%}</h2>
    <p>{%- translate page.bible.sections.plan.subtitle -%}</p>

    <div class="section-card-layout">
        {% assign collection_name = "bible_" | append: site.lang %}
        {% assign items = site[collection_name] %}

        {% for post in items %}
            {% assign post_url = post.url %}
            {% if site.lang != site.languages.first %}
                {% assign post_url = "/" | append: site.lang | append: post.url %}
            {% endif %}
            <a class="card card-text" target="_self" rel="bookmark" href="{{ post_url }}">
                <div class="card_content">
                    <div class="card_meta">
                        <span>{%- translate labels.day %} {{ post.code | plus: 0 }}</span>
                        {% assign day = post.date | date: "%-d" %}
                        {% assign month = post.date | date: "%-m" %}
                        <span>{{ day | format_date: month, site.lang }}</span>
                    </div>
                    <h3>{{ post.banner.title }}</h3>
                    <p>{{ post.banner.subtitle }}</p>
                </div>
            </a>
        {% endfor %}
    </div>
</section>