# bundle exec jekyll serve --livereload

# General settings
favicon: "/assets/images/favicon.ico"

# Language settings
languages: [ "br", "us" ]
translations: [ "br", "us" ]
exclude_from_localizations: [ "assets" ]

# Collections settings
collections_dir: _collections
collections:
  messenger_br:
    output: true
  messenger_us:
    output: true
  books_br:
    output: true
  books_us:
    output: true
  honors_br:
    output: true
  honors_us:
    output: true

# Markdown settings
kramdown:
  input: kramdown

# Optimization settings
compress_html:
  clippings: all
  comments: ["<!-- ", " -->"]
  endings: all
  blanklines: true
  profile: false
  startings: [html, head, body]
sass:
  style: compressed
  
# Plugins settings
plugins:
  - jekyll-multiple-languages-plugin
  #- jekyll-timeago
  #- jekyll-feed
  #- jekyll-seo-tag
  #- jekyll-sitemap
  #- jekyll-spaceship
  #- jekyll-scholar