<!-- Definição do link do cartão -->
{%- assign default_lang = site.languages | first -%}
{%- if site.lang == default_lang -%}
	{%- assign permalink_key = "permalink" -%}
	{%- assign prefix = "" -%}
{%- else -%}
	{%- assign permalink_key = "permalink_" | append: site.lang -%}
	{%- assign prefix = "/" | append: site.lang -%}
{%- endif -%}

<!-- Definição do layout do cartão -->
{%- assign page = site.pages | where: "code", include.code | first -%}
{%- if page and page[permalink_key] -%}
<a class="card" target="_self" rel="bookmark" href="{{ prefix }}{{ page[permalink_key] }}">
	<div class="card-image">
		<img src="{{ page.card.thumbnail }}" alt="Thumbnail: {% translate page.card.title %}">
	</div>
	<div class="card-glass">
		<h3>{% translate page.card.title %}</h3>
		<p>{% translate page.card.subtitle %}</p>
	</div>
</a>
{%- endif -%}