<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- Favicon -->
  {%- if site.favicon != null -%}
  <link rel="shortcut icon" href="{{ site.favicon }}" type="image/x-icon">
  {%- endif -%}

  <!-- Styles -->
  {%- include head/styles.html -%}

  <!-- Title -->
  <title>
    {%- if page.title != null -%}
      {%- capture page_title -%}
        {%- translate page.title -%}
      {%- endcapture -%}
      {{ page_title }} | {{ site.title }}
    {%- else -%}
      {{ site.title }}
    {%- endif -%}
  </title>

  <!-- Icons -->
  {%- include head/icons.html -%}

  <!-- Fonts -->
  {%- include head/font.html -%}
</head>