<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- Favicon -->
  {%- if site.favicon != null -%}
  <link rel="shortcut icon" href="{{site.favicon}}" type="image/x-icon">
  {%- endif -%}

  <!-- Styles -->
  {%- include head/styles.html -%}

  <!-- Title -->
  <title>
    {%- capture site_title -%}
      {%- translate core.name -%}
    {%- endcapture -%}
    {%- if page.site and page.site.title != null -%}
      {%- capture page_title -%}
        {%- translate page.site.title -%}
      {%- endcapture -%}
      {{page_title}} | {{site_title}}
    {%- else -%}
      {{site_title}}
    {%- endif -%}
  </title>

  <!-- Icons -->
  {%- include head/icons.html -%}

  <!-- Fonts -->
  {%- include head/font.html -%}
</head>