@charset "utf-8"; /* Define a codificação de caracteres como UTF-8, que é uma codificação padrão para a maioria dos sites */

/* Cores gerais do site */
$card-transparent-text: #fefefe !default;
$frosted-glass-effect: blur(7px) !default;

/* Cores do tema claro */
$background-color-light: #dcdcdc !default;
$card-light: rgba(255, 255, 255, 0.7) !default;
$card-hover-light: #ececec !default;
$card-solid-light: #f5f5f5 !default;
$card-text-light: #353535 !default;

/* Parâmetros gerais do site */
$max-width-content: 1080px !default;













/* Estilos gerais aplicados a todos os elementos */
* {
    margin: 0; /* Remove a margem padrão de todos os elementos */
    padding: 0; /* Remove o preenchimento padrão de todos os elementos */
    box-sizing: border-box; /* Inclui a borda e o preenchimento no cálculo da largura e altura dos elementos */
    font-family: "Poppins", sans-serif; /* Define a fonte padrão para todos os elementos como "Poppins", com uma fonte sans-serif como fallback */
}

body {
    color: $card-text-light; /* Define a cor do texto dentro do body */
    background-color: $background-color-light; /* Define a cor de fundo do body */
}

h2 {
    font-size: x-large;
    padding: 40px 0;
}

img {
    pointer-events: none;
    user-drag: none;
    -webkit-user-drag: none;
}

.content {
    width: 100%;
    max-width: $max-width-content;
    padding: 40px 20px;
    margin: auto;
}

.unselectable {
    user-select: none; /* Desativa a seleção de texto dentro do botão */
    -webkit-user-select: none; /* Desativa a seleção de texto no Safari */
    -moz-user-select: none; /* Desativa a seleção de texto no Firefox */
    -ms-user-select: none; /* Desativa a seleção de texto no IE e Edge */
}

/* Importa outros arquivos de estilo */
@import
    "layouts/header", /* Importa estilos do arquivo "header" */
    "layouts/banner", /* Importa estilos do arquivo "banner" */
    "layouts/click-to-top", /* Importa estilos do arquivo "click-to-top" */
    "layouts/dropdown", /* Importa estilos do arquivo "dropdown" */
    "layouts/footer", /* Importa estilos do arquivo "footer" */
    "layouts/layout", /* Importa estilos do arquivo "layout" */
    "layouts/card" /* Importa estilos do arquivo "card" */;