@charset "utf-8";

/* Cores gerais do site */
$card-transparent-text: #fefefe !default;
$frosted-glass-effect: blur(7px) !default;
$box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1) !default;

/* Cores do tema claro */
$background-color-light: #dcdcdc !default;
$card-light: rgba(255, 255, 255, 0.7) !default;
$card-hover-light: #ececec !default;
$card-solid-light: #f5f5f5 !default;
$card-text-light: #353535 !default;

/* Parâmetros gerais do site */
$max-width-content: 1080px !default;




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    color: $card-text-light;
    background-color: $background-color-light;
    
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

h2 {
    font-size: x-large;
    padding: 40px 0 20px 0;
}

img {
    pointer-events: none;
    user-drag: none;
    -webkit-user-drag: none;
}

.content {
    width: 100%;
    max-width: $max-width-content;
    padding: 40px 20px;
    margin: auto;
}

@import
    "layouts/header", /* Importa estilos do arquivo "header" */
    "layouts/banner", /* Importa estilos do arquivo "banner" */
    "layouts/click-to-top", /* Importa estilos do arquivo "click-to-top" */
    "layouts/dropdown", /* Importa estilos do arquivo "dropdown" */
    "layouts/footer", /* Importa estilos do arquivo "footer" */
    "layouts/layout", /* Importa estilos do arquivo "layout" */
    "layouts/card" /* Importa estilos do arquivo "card" */;