{%- if page.banner -%}
    <section class="banner">
        {%- if page.banner.video or page.banner.image -%}
            {%- if page.banner.video -%}
                <!-- Vídeo de Fundo do Banner -->
                 <video class="background-media"
                        autoplay
                        muted
                        loop
                        playsinline
                        preload="metadata"
                        {%- if page.banner.image -%}
                            poster="{{ page.banner.image }}"
                        {%- endif -%}
                        oncontextmenu="return false;">
                    <source src="{{ page.banner.video }}" type="video/mp4">
                </video>
            {%- elsif page.banner.image -%}
                <!-- Imagem de Fundo do Banner -->
                <img class="background-media"
                     src="{{ page.banner.image }}"
                     alt="Banner"
                     oncontextmenu="return false;" />
            {%- endif -%}

            <!-- Conteúdo do Banner -->
            <div class="banner-content">
                <!-- Banner Title -->
                {%- if page.banner.title != null -%}
                    <h1>{%- translate page.banner.title -%}</h1>
                {%- elsif page.title != null -%}
                    <h1>{%- translate page.title -%}</h1>
                {%- endif -%}
                <!-- Banner Subtitle -->
                {%- if page.subtitle -%}
                    <p>{%- translate page.subtitle -%}</p>
                {%- elsif page.subtitles -%}
                    {%- assign result = "" -%}
                    {%- for subtitle in page.subtitles -%}
                        {%- capture translated_subtitle -%}
                            {%- translate subtitle -%}
                        {%- endcapture -%}
                        {%- assign result = result | append: translated_subtitle -%}
                        {%- if forloop.last == false -%}
                            {%- assign result = result | append: ";" -%}
                        {%- endif -%}
                    {%- endfor -%}
                    {%- assign result = result | replace: " ", "+" -%}
                    <img src="https://readme-typing-svg.herokuapp.com?center=true&vCenter=true&height=40&random=true&color=FFFFFF&duration=2500&pause=4000&lines={{result}}">
                {%- endif -%}
            </div>
            <!-- Botão para mostrar mais conteúdo do site -->
            <div id="click-to-more" class="click-to-more">
                <span>{%- translate banner.click_to_more -%}</span>
                <i class="fa-solid fa-angles-down"></i>
            </div>
        {%- endif -%}
    </section>
{%- endif -%}