<footer>
    <ul>
        {%- for lang in site.languages -%}
            {%- assign site_lang = site.translations[lang].core.lang -%}
            <li>
                {{ site.translations[site.lang].countries[site_lang] }}
            </li>
        {%- endfor -%}
    </ul>
    
    <!-- ------------------------------------------------ -->

    {%- assign current_year = 'now' | date: "%Y" -%}
    {%- capture core_copyright -%}
        {%- translate core.copyright -%}
    {%- endcapture -%}
    {%- assign copyright = core_copyright | replace: "$current_year", current_year | replace: "(c)", "&copy;" -%}
    <p>{{ copyright }}</p>
</footer>