<footer>
    <hr>
    
    <div class="content">
        <div class="language">
            <p>{%- translate footer.experience -%}</p>

            {%- capture countries -%}
                {%- translate countries -%}
            {%- endcapture -%}

            <div class="dropdown">
                {%- assign countries_hash = countries | strip_newlines | replace: "=>", ":" | replace: "{", "" | replace: "}", "" | split: "," %}
                {%- assign current_country_name = "" %}

                {% for country in countries_hash %}
                    {%- assign country_pair = country | split: ":" %}
                    {%- assign country_key = country_pair[0] | strip | remove: '"' %}
                    {%- assign country_name = country_pair[1] | strip | remove: '"' %}

                    {%- if country_key == site.lang %}
                        {%- assign current_country_name = country_name %}
                    {%- endif %}
                {% endfor %}

                <button class="dropdown-button">
                    <span class="fi fi-{{site.lang}}"></span>{{current_country_name}}
                    <i class="fa-solid fa-angle-down"></i>
                </button>

                <div class="dropdown-content">
                    {%- for country in countries_hash -%}
                        {%- assign country_pair = country | split: ":" -%}
                        {%- assign country_key = country_pair[0] | strip | remove: '"' -%}
                        {%- assign country_name = country_pair[1] | strip | remove: '"' -%}

                        {%- assign href = "" -%}

                        {%- if page.layout == "poster" -%}
                            <!-- Posters Layout -->
                            {%- if country_key != site.lang -%}
                                {% assign target_page = site.pages | where: "posters", "bible" | first %}
                                {%- assign permalink = "permalink" -%}
                                {%- assign poster_permalink_parts = page[permalink] | split: '/' -%}
                                {%- if country_key != site.languages.first -%}
                                    {%- assign permalink = permalink | append: "_" | append: country_key -%}
                                    {%- assign main_permalink_parts = target_page[permalink] | split: '/' -%}
                                    {%- assign href = "/" | append: country_key | append: "/" | append: main_permalink_parts[1] | append: "/" | append: poster_permalink_parts[2] | append: "/" -%}
                                {%- else -%}
                                    {%- assign main_permalink_parts = target_page[permalink] | split: '/' -%}
                                    {%- assign href = "/" | append: main_permalink_parts[1] | append: "/" | append: poster_permalink_parts[2] | append: "/" -%}
                                {%- endif -%}
                                <a target="_self" rel="alternate" hreflang="{{site.translations[country_key].core.lang}}" href="{{href}}"><span class="fi fi-{{country_key}}"></span>{{country_name}}</a>
                            {%- else -%}
                                <span class="current-language"><span class="fi fi-{{country_key}}"></span>{{country_name}}</span>
                            {%- endif -%}
                        {% else %}
                            <!-- Defalut Layout -->
                            {%- if country_key != site.lang -%}
                                {%- if country_key != site.languages.first -%}
                                    {%- assign permalink = "permalink_" | append: country_key -%}
                                    {%- if page[permalink] == null -%}
                                        {%- assign permalink = "permalink" -%}
                                    {%- endif -%}
                                    {%- assign href = "/" | append: country_key | append: page[permalink] -%}
                                {%- else -%}
                                    {%- assign permalink = "permalink" -%}
                                    {%- assign href = page[permalink] -%}
                                {%- endif -%}
                                {%- if current_page and current_page != 1 -%}
                                    {%- assign href = href | append: current_page | append: "/" -%}
                                {%- endif -%}
                                <a target="_self" rel="alternate" hreflang="{{site.translations[country_key].core.lang}}" href="{{href}}"><span class="fi fi-{{country_key}}"></span>{{country_name}}</a>
                            {%- else -%}
                                <span class="current-language"><span class="fi fi-{{country_key}}"></span>{{country_name}}</span>
                            {%- endif -%}
                        {% endif %}
                    {%- endfor -%}
                </div>
            </div>
        </div>
    </div>

    {%- assign current_year = 'now' | date: "%Y" -%}
    {%- capture core_copyright -%}
        {%- translate core.copyright -%}
    {%- endcapture -%}
    {%- assign copyright = core_copyright | replace: "$current_year", current_year | replace: "(c)", "&copy;" -%}
    <p class="copyright">{{copyright}}</p>
</footer>