<header class="post-header">

    <div class="row-profile">
      <!-- Foto do perfil -->  
      {%- if page.profile_image != null -%}
      <div class="col-profile-image">
        <img src="{{ page.profile_image }}" class="avatar">
      </div>
      {%- endif -%}
  
      <div class="col-profile-title">
        <!-- Título do Artigo -->
        <h1 class="post-title p-name" itemprop="name headline">
          {{ heading | default: page.title | escape }}
        </h1>
        
        <h4>
          {%- if page.professional_position != null -%}
          <i class="fa fa-briefcase fa-1x"></i> {{ page.professional_position }}
          {%- else -%}
            {%- if page.academic_education != null -%}
            <i class="fa fa-graduation-cap fa-1x"></i> {{ page.academic_education }}
            {%- endif -%}
          {%- endif -%}
        </h4>
        
        <!-- Subtítulo do Artigo -->
        <h3 class="profile-subtitle">
          "{{ subheading | default: page.subtitle | escape }}"
        </h3>
      </div>
    </div>
  
    <!-- Links Sociais -->
    {%- if page.social != null -%}
    {%- include views/profile-social-link.html -%}
    {%- endif -%}
  
  </header>