<p class="post-meta social_conteiner">
    {%- if page.social.orcid != null -%}
    <a target="_blank" title="Orcid" class="social_link" href="https://orcid.org/{{ page.social.orcid }}/"><i class="ai ai-orcid ai-1x"></i></a>
    {%- endif -%}
      
    {%- if page.social.lattes != null -%}
    <a target="_blank" title="Lattes" class="social_link" href="http://lattes.cnpq.br/{{ page.social.lattes }}/"><i class="ai ai-lattes ai-1x"></i></a>
    {%- endif -%}

    {%- if page.social.linkedin != null -%}
    <a target="_blank" title="Linkedin" class="social_link" href="https://www.linkedin.com/in/{{ page.social.linkedin }}/"><i class="fa fa-linkedin-square fa-1x"></i></a>
    {%- endif -%}

    {%- if page.social.github != null -%}
    <a target="_blank" title="Github" class="social_link" href="https://github.com/{{ page.social.github }}/"><i class="fa fa-github fa-1x"></i></a>
    {%- endif -%}

    {%- if page.social.reddit != null -%}
    <a target="_blank" title="Reddit" class="social_link" href="https://www.reddit.com/user/{{ page.social.reddit }}/"><i class="fa fa-reddit fa-1x"></i></a>
    {%- endif -%}

    {%- if page.social.twitter != null -%}
    <a target="_blank" title="Twitter" class="social_link" href="https://twitter.com/{{ page.social.twitter }}/"><i class="fa fa-twitter fa-1x"></i></a>
    {%- endif -%}

    {%- if page.social.facebook != null -%}
    <a target="_blank" title="Facebook" class="social_link" href="https://www.facebook.com/{{ page.social.facebook }}/"><i class="fa fa-facebook-square fa-1x"></i></a>
    {%- endif -%}

    {%- if page.social.instagram != null -%}
    <a target="_blank" title="Instagram" class="social_link" href="https://www.instagram.com/{{ page.social.instagram }}/"><i class="fa fa-instagram fa-1x"></i></a>
    {%- endif -%}

    {%- if page.social.youtube != null -%}
    <a target="_blank" title="Youtube" class="social_link" href="https://www.youtube.com/channel/{{ page.social.youtube }}/"><i class="fa fa-youtube-play fa-1x"></i></a>
    {%- endif -%}

    {%- if page.social.behance != null -%}
    <a target="_blank" title="Behance" class="social_link" href="https://www.behance.net/{{ page.social.behance }}/"><i class="fa fa-behance fa-1x"></i></a>
    {%- endif -%}

    {%- if page.social.pinterest != null -%}
    <a target="_blank" title="Pinterest" class="social_link" href="https://pinterest.com/{{ page.social.pinterest }}/"><i class="fa fa-pinterest fa-1x"></i></a>
    {%- endif -%}

    {%- if page.social.dribbble != null -%}
    <a target="_blank" title="Dribbble" class="social_link" href="https://dribbble.com/{{ page.social.dribbble }}/"><i class="fa fa-dribbble fa-1x"></i></a>
    {%- endif -%}

    {%- if page.social.spotify != null -%}
    <a target="_blank" title="Spotify" class="social_link" href="https://open.spotify.com/user/{{ page.social.spotify }}/"><i class="fa fa-spotify fa-1x"></i></a>
    {%- endif -%}
  </p>