.certificate-card {
    position: relative;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    height: 300px;
    max-width: 200px;
    width: 100%;
    margin: 0 auto;
    font-weight: 500;
    font-size: 12px;

    .certificate-type {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        padding: 5px 10px;
        background-color: $card-light;
        backdrop-filter: $frosted-glass-effect;
        border-radius: 0 0 10px 0;
        font-size: 10px;
    }

    .thumbnail {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        z-index: 1;
        border: 10px solid $card-solid-light;
    }

    .certificate-content {
        position: absolute;
        bottom: 0;
        z-index: 2;
        width: 100%;

        .certificate-competencies {
            display: flex;
            justify-content: flex-end;
            padding: 4px 14px;
            column-gap: 4px;

            img {
                backdrop-filter: $frosted-glass-effect;
                border-radius: 7px;
                padding: 5px;
                height: 26px;
                width: 26px;
            }
        }

        .certificate-area {
            background-color: $card-light;
            backdrop-filter: $frosted-glass-effect;
            padding: 5px 10px 10px 10px;

            span {
                font-size: 10px;
            }

            img {
                height: 16px;
                width: 16px;
            }

            p {
                padding-top: 5px;
            }

            .certificate-authority {
                display: flex;
                align-items: center;
                column-gap: 5px;
            }
        }
    }
}