.certificate-card {
    position: relative;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    height: 300px;
    max-width: 200px;
    width: 100%;
    margin: 0 auto;
    font-weight: 500;
    font-size: small;

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        z-index: 1;
        border: 12px solid $card-solid-light;
    }

    .certificate-type {
        position: absolute;
        display: flex;
        align-items: center;
        top: 0;
        left: 0;
        z-index: 2;
        padding: 5px 10px;
        background-color: $card-light;
        backdrop-filter: $frosted-glass-effect;
        border-radius: 0 0 10px 0;
        font-size: 10px;

        i {
            margin-right: 5px;
        }
    }

    .certificate-content {
        position: absolute;
        bottom: 0;
        z-index: 2;
        padding: 5px 10px;
        background-color: $card-light;
        backdrop-filter: $frosted-glass-effect;
    }
}