.click-to-top {
    display: flex; /* Usa flexbox para alinhar o conteúdo */
    z-index: 3; /* Garante que o botão esteja acima de outros elementos */
    width: 64px; /* Define a largura do botão */
    height: 64px; /* Define a altura do botão */
    border-radius: 32px; /* Define as bordas arredondadas do botão */
    background: white; /* Define a cor de fundo do botão */
    box-shadow: 0 0 5px #00000060; /* Adiciona uma sombra ao botão */
    position: fixed; /* Fixa a posição do botão na tela */
    right: 60px; /* Define a posição do botão à direita */
    bottom: 48px; /* Define a posição do botão na parte inferior */
    align-items: center; /* Centraliza o conteúdo verticalmente */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    font-size: 24px; /* Define o tamanho da fonte do ícone */
    transition: .3s; /* Adiciona uma transição suave de 0.3 segundos */
    cursor: pointer; /* Muda o cursor para ponteiro ao passar sobre o botão */

    i {
        transition: .3s; /* Adiciona uma transição suave de 0.3 segundos ao ícone */
    }
}

html[scroll-status='top'] .click-to-top {
    background-color: transparent; /* Torna o fundo do botão transparente */
    visibility: hidden; /* Torna o botão invisível */

    i {
        color: transparent; /* Torna o ícone transparente */
    }
}