.click-to-top {
    display: flex; /* Usa flexbox para alinhar o conteúdo */
    z-index: 3; /* Garante que o botão esteja acima de outros elementos */
    width: 64px; /* Define a largura do botão */
    height: 64px; /* Define a altura do botão */
    border-radius: 32px; /* Define as bordas arredondadas do botão */
    background: $card-light; /* Define a cor de fundo do botão */
    backdrop-filter: $frosted-glass-effect; /* Aplica efeito de vidro fosco */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra suave ao botão */
    position: fixed; /* Fixa a posição do botão na tela */
    right: 60px; /* Alinha o botão 60px à direita da tela */
    bottom: 35px; /* Alinha o botão 35px acima da borda inferior da tela */
    align-items: center; /* Centraliza o conteúdo verticalmente no botão */
    justify-content: center; /* Centraliza o conteúdo horizontalmente no botão */
    font-size: 24px; /* Define o tamanho da fonte (ícone) dentro do botão */
    transition: opacity 0.5s ease, background-color 0.5s ease; /* Transição suave para opacidade e cor de fundo */
    cursor: pointer; /* Altera o cursor para ponteiro ao passar sobre o botão */
    opacity: 1; /* O botão é visível por padrão */

    i {
        transition: color 0.5s ease; /* Transição suave na mudança de cor do ícone */
    }

    /* Quando o scroll está no topo da página */
    html[scroll-status='top'] & {
        background-color: transparent; /* Torna o fundo do botão transparente */
        opacity: 0; /* Torna o botão invisível suavemente */
        pointer-events: none; /* Desativa interações enquanto o botão está invisível */

        i {
            color: transparent; /* Torna o ícone invisível junto com o botão */
        }
    }
}