.site-footer {
    @include relative-font-size(1.0);
    color: $footer-text-color;
    background-color: $footer-background-color;
    text-align: left;
    transition: background-color 0.2s;
  
    .site-footer-inner {
        transition: border-top 0.2s;
        padding: $spacing-unit * 1.8 0;
    }
  
    a {
        $a-color: $brand-color;
        color: $a-color;
  
        &:hover {
            color: lighten($a-color, 10%);
        }
    }
}

.copyleft {
    display: inline-block;
    transform: rotate(180deg);
}

.rss-subscribe:hover {
    text-decoration: none;
}

html[data-theme="dark"]  {
    .site-footer {
        color: #fff;
        background-color: #000;
    }
}