footer {
    background-color: $background-color-light;
    font-size: 12px;

    .language p {
        padding: 0 0 5px 10px;
    }

    .copyright {
        padding: 60px 0 20px 0;
        font-size: 10px;
        text-align: center;
    }
}