/**
 * Layout and sidebar
 */
.framework {
    @extend %flex;

    .main {
        @extend %flex-1;
    }

    .sidebar {
        padding-left: 8px;
        transition: top 0.2s, display 0.2s;

        @include flex-sticky($header-height + 20px);

        @include media-query($on-laptop) {
            display: none;
        }
    }
}