/* Header */

header{
    padding: 20px;
    width: 100%;    
    top: 0;
    left: 0;
    position: fixed;
    background-color: white;
    transition: .3s;
    box-shadow: 0 0 5px #00000060;
}

header div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a{
    color: black;
    text-decoration: none;
}

/* Header Menu */

.header-menu a:hover{
    text-decoration: underline;
}

.header-menu ul{
    list-style-type: none;
    text-align: right;
}

.header-menu li{
    display: inline-block;
    margin: 0 10px;
}

/* Animation */

html {
    &[scroll-status='top']{
        header{
            background-color: transparent;
            box-shadow: none;
        }
        header a{
            color: white;
        }
    }
    &[scroll-status='down'] {
        header{
            background-color: transparent;
            box-shadow: none;
        }
        header div{
            visibility: hidden;
        }
    }
}