/* Header */

header{
    padding: 20px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

header div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a{
    color: white;
    text-decoration: none;
}

/* Header Menu */

.header-menu a:hover{
    text-decoration: underline;
}

.header-menu ul{
    list-style-type: none;
    text-align: right;
}

.header-menu li{
    display: inline-block;
    margin: 0 10px;
}