.page-archives {
    .page-archives-list {
        margin-left: 0;
        list-style: none;
    }
  
    .archives-time {
        @include relative-font-size(1.5);
  
        &:not(:first-child) {
            margin-top: 18px;
        }
        margin-bottom: 8px;
    }
  
    .post-meta {
        font-size: $small-font-size;
        color: $grey-color;
    }
}