---
layout: compress
---

<!DOCTYPE html>
<html lang="{% translate core.lang %}">
  {%- include head.html -%}
  <body>
    {%- include views/header.html -%}
    <main>
      {%- include views/banner.html -%}
      {%- include views/click_to_top.html -%}
      <section class="content">
        {%- if page.banner and page.banner.type == 'none' -%}
          <section class="banner-none">
            {%- if page.banner.title -%}
              <h1>{%- translate page.banner.title -%}</h1>
            {%- endif -%}
            {%- if page.banner.subtitle -%}
              <p>{%- translate page.banner.subtitle -%}</p>
            {%- endif -%}
          </section>
        {%- endif -%}
        {{ content }}
      </section>
    </main>
    {%- include views/footer.html -%}
    <script >
      {%- include scripts/core.js -%}
      {%- include scripts/scroll-status.js -%}
      {%- include scripts/click-to-top.js -%}
      {%- if page.banner and page.banner.type != 'none' -%}
        {%- include scripts/click-to-more.js -%}
      {%- endif -%}
      {%- include scripts/contextmenu-disabled.js -%}
      {%- include scripts/dropdown.js -%}
    </script>
  </body>
</html>