{%- if include.keys -%}
  {%- assign keys = include.keys -%}
{%- endif -%}

{%- if include.field -%}
  {%- assign field = include.field -%}
{%- endif -%}

<div class="common-list">
  <div class="card">
    <ul>
      <li>
        <a href="{{ '/blog/' | relative_url }}">
          Tudo<span>{{ site.blog.size }}</span>
        </a>
      </li>

      {% for key in keys %}
        <li>
          <a href="{{ url }}#h-{{ key }}">
            {{ key }} <span>{{ site.blog | where: field, key | size }}</span>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
